<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>登录</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">能力规范文稿管理系统</a>
</nav>
<nav class="navbar navbar-light bg-light">
    <form action="/user/login" method="post" class="form-inline">
        <input name="username" class="form-control mr-sm-2" type="text" placeholder="用户名">
        <input name="password" class="form-control mr-sm-2" type="password" placeholder="密码">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">登录</button>
        <div th:if="${message!=null}">
            <a th:text="${message}"></a>
        </div>
    </form>
</nav>
<div class=" container">
    <div class="card">
        <div class="card-header">
            规范列表
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">关于草案评审的用户规范<a class="float-right">2018-6-1</a></li>
                <li class="list-group-item">关于草案评审的用户规范<a class="float-right">2018-6-1</a></li>
                <li class="list-group-item">关于草案评审的用户规范<a class="float-right">2018-6-1</a></li>
            </ul>
        </div>
    </div>
    <div>
    </div>
</div>
</body>
</html>